/Bevoelkerung_Boundaries
/Boden
/Nutzung
/Population.lyrx
/Topographie
/Wetter_Klima
/ZH_SG_TG.cpg
/ZH_SG_TG.dbf
/ZH_SG_TG.prj
/ZH_SG_TG.shp
/ZH_SG_TG.shp.WS315-630WSW.12376.13004.sr.lock
/ZH_SG_TG.shp.WS315-630WSW.1828.13004.sr.lock
/ZH_SG_TG.shp.WS315-630WSW.22960.13004.sr.lock
/ZH_SG_TG.shp.WS315-630WSW.24120.13004.sr.lock
/ZH_SG_TG.shp.xml
/ZH_SG_TG.shx